.date{
  font-size: 13px;
  color: #4b4d52;
  margin-right: 10px;
}


.title {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}

.price {
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  background: white;
  border: 1px solid #b9b1a8;
  margin-right: 10px;
  border-radius: 5px;
  color: #918A81;
}

.location {
  font-weight: 200;
  margin-right: 10px;
}

.category {
  font-size: 16px;
}


