nav {

  background: url('/images/texturetastic_gray.png') repeat;
  height: 72px;

  .box-shadow {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .box-shadow:before, .box-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }

  .box-shadow:after {
    right:10px;
      left:auto;
      -webkit-transform:skew(8deg) rotate(3deg);
         -moz-transform:skew(8deg) rotate(3deg);
          -ms-transform:skew(8deg) rotate(3deg);
           -o-transform:skew(8deg) rotate(3deg);
              transform:skew(8deg) rotate(3deg);
  }
 
}


.kegs {
  display: inline-block;
  font-size: 50px;
  text-transform: uppercase;
  color: #4b4d52;
  letter-spacing: 1px;
  text-shadow: 2px 1px 0px #fff, 5px 3px 0px rgba(0,0,0,0.15);
}

.list {
  font-weight: 200;
}


ul {
  display: inline-block;
  float:right;
  margin-top: 22px;
}

li {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  
  a {
    color: #4b4d52;
    &:hover {
      color: #de8642;
      text-decoration: underline;
    }
  }

  
}


.nav-inner {
  width: 80%;
  margin: 0 auto;
  position:relative;
}

.nav-link {
  border-right: 1px solid #4b4d52;
}


.nav-post {
  margin-left: 30px;
  background: #de8642;
  border-radius: 5px;
  width: 65px;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1.5px;
  &:hover {
    background: #DD7F37;
  }
  a {
    color: #ffffff;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}
