html {
  background: url('/images/paper_fibers.png') repeat;
}


th {
  text-align: left;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1.5px;
}

.roboto {
  font-family: 'Roboto Condensed', sans-serif;
}

.yanone {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.centered{
  margin: 0 auto;
  text-align: center;
}




