h2.create {
  font-size: 125px;
  text-align: center;
  margin: 20px auto 20px auto;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #de8642;;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

.date {
  font-size: 16px;
  color: #4b4d52;
  margin-right: 10px;
}

.price {
  font-size: 26px;
  padding: 5px 10px 5px 10px;
  background: white;
  border: 1px solid #b9b1a8;
  margin-right: 10px;
  border-radius: 5px;
  color: #918A81;
}

.title{
  color: #4b4d52;
  margin-right: 10px;
  font-size: 28px;

}

.city {
  font-size: 22px;
  font-weight: 200;
  margin-right: 10px;
}




/* New Post */









