html {
  background: url('/images/texturetastic_gray.png') repeat;
}

#loginPage, #signupPage{
  width: 80%;
  margin: 2% auto 0 auto;
  text-align: center;
}

.loginContent, .signupContent {
  margin: 0 auto;
  text-align: center;
}

#loginPage h1, #signupPage h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif !important;
  font-size: 210px;
  text-align: left;
  margin: 0px auto 0px auto;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #4b4d52;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

#loginPage .subheader{
  line-height: 1.4;
  color: #6f6f6f;
  font-weight: normal;
  margin-top: -3.2rem;
  margin-bottom: 0.5rem;
  font-size: 50px;
  font-weight: 100;
  width: 600px;
}

#signupPage h1 {
  text-align: center;
  margin: 0px auto -30px auto;
}

span.list {
  font-weight: 100;
  letter-spacing: 1.5px;
}

#loginPage h3 {
  text-transform:uppercase;
  font-weight: 100;
  font-size: 4.75rem;
}

.createAccount {
  text-align: center;
  width: 580px;
}

.createAccount a {
  color: #4b4d52;
  font-weight:bold;
  letter-spacing: 1px;
  margin-left: 10px;
}

.createAccount a:hover{
  color: #de8642;
  text-decoration:underline;
}

input[type="text"].login, input[type="password"].login, input[type="text"].signup {
  height: 60px;
  width: 580px;
  margin: 0 auto 20px auto;
}

button {
  width: 580px;
  margin:0 auto;
}
