<nav>
<div class="kegs">Kegs<span class="list">List</span></div>
<ul>
	<li class="nav-link">Classifieds</li>
	<li class="nav-link">What's Brewing</li>
	<li class="nav-link">Grab A Beer</li>
	<li class="nav-link">Community</li>
	<li class="nav-link">Logout</li>
	<li class="nav-link"></li>

</ul>


</nav>