<link rel="stylesheet" href="/css/classified.css">
<link rel="stylesheet" href="/css/form.css">

<div class="form-container">
  <h2 class="create yanone">Create Post</h2>
  <form action '/classifieds' method="post" enctype="multipart/form-data">
    <select class=" columns" placeholder="Choose a Category" name="classified[category]">
      <option value="">
        Choose a Category
      </option>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>">
          <%= category.name %>
        </option>
      <% end %>
    </select>
    <input placeholder="Post Title" type="text" name="classified[title]">
    <textarea placeholder="Whatchu Selling?" name="classified[description]"></textarea>
    <input placeholder="condition" type="text" name="classified[condition]">
    <input placeholder="Price" type="text" name="classified[price]">
    <input placeholder="location" type="text" name="classified[location]">
    <input placeholder="Zip Code" type="text" name="classified[zip_code]">
    <input class="button radius centered" type="submit" name="submit">
  </form>
   <form action '/classifieds/new' method="post" enctype="multipart/form-data">
    <input type="file" value="Upload">
    <button class="button radius centered" type="submit" name="submit"></submit>
   </form>
</div>
