<h2 class="sm-header yanone">Create Post</h2>
<div class="form-container">
  <form action='/classifieds/new' method="post" enctype="multipart/form-data">
    <select class="columns" placeholder="Choose a Category" name="classified[category]">
      <option value="">
        Choose a Category
      </option>
      <% @categories.each do |category| %>
        <option value="<%= category.id %>">
          <%= category.name %>
        </option>
      <% end %>
    </select>
    <input placeholder="Post Title" type="text" name="classified[title]">
    <textarea placeholder="Whatchu Selling?" name="classified[description]"></textarea>
    <input placeholder="condition" type="text" name="classified[condition]">
    <input placeholder="Price" type="text" name="classified[price]">
    <input placeholder="location" type="text" name="classified[location]">
    <input placeholder="Zip Code" type="text" name="classified[zip_code]">
    <div>
      <input type="file" name="image[image]" value="Upload">
      <a href="#" class="add-image">Add Another Image</a>
    </div>
    <button class="button radius centered" type="submit" name="submit">Submit</button>
   </form>
</div>
