<link rel="stylesheet" href="/css/header.css">

<nav class="box-shadow">
  <div class="nav-inner">
    <div class="kegs yanone">Kegs<span class="list">List</span></div>
    <% if session[:user_id] != nil %>
      <ul>
      	<li class="nav-link">Classifieds</li>
      	<li class="nav-link">What's Brewing</li>
      	<li class="nav-link">Grab A Beer</li>
      	<li class="nav-link"><a href="/posts">Community</a></li>
      	<li><a href="/logout">Logout</a></li>
        <li class="nav-post"><a href="/classifieds/new">Post</a></li>
      </ul>
    <% end %>
  </div>
</nav>
